$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

//breakpoints

$tablets: 768px;
$phones: 480px;

@import "media";

@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap');
@import "layout";
@import "hero.scss";
@import "header.scss";
@import "benefits-section.scss";
@import "content.scss";
@import "slider.scss";
@import "footer.scss";
// @import "./cosmetic/cosmetic-hedr.scss";
// @import "./cosmetic/accord.scss";
@import "./forma.scss";
@import "./accord.scss";
@import "./order-section.scss";
@import "./radio.scss";
@import "./form.scss";
@import "./modal.scss";
@import "./map.scss";
// @import "./media.scss";