.radio{
    display: flex;
    cursor: pointer;
    user-select: none;

    &--checkbox{
        .radio__visible{
            
            border-radius: 0;

            &:before{
                background: url("../components/img/icon/галочка.png") center center no-repeat;
            }
        }
    }

    @include tablets{
        display: inline-flex;
    }
}
.radio__elem{
    display: none;

    &:checked ~ .radio__visible{
        &::before{
            display: block;
        }
    }
}

.radio__visible{
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #ffffff;

    &:before{
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: #365a49;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.radio--checkbox{
    margin-top: rem(26px);

    @include phones{
        display: flex;
        
        
    }
}

.radio--left{
    margin-left: rem(29px);

}
.radio__title{
    font-size: rem(18px);
    color: #365a49;
    margin-left: rem(10px);

    @include phones{
        display: flex;
        margin-left: 10px;
        font-size: 15px;
    }

    
}